/.deps/
/.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/Makefile
/doc/Makefile.in
/example
/example.o
/hnjalloc.lo
/hnjalloc.o
/hyph_en_US.dic
/hyphen.lo
/hyphen.o
/hyphen.us
/hyphen.us2
/hyphen.us3
/install-sh
/libhyphen.la
/libtool
/ltmain.sh
/missing
/substrings
/substrings.o
/test-driver
/tests/*.log
/tests/*.trs
/tests/Makefile
/tests/Makefile.in
/tests/testSubDir/
